html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* width: 100%;
    height: 100%; */
}

button{
    border: 1px solid #ccc;
    background-color: #265CB6;
    padding: 12px;
    cursor: pointer;
    color: #fff;
    opacity: .7;
}

button:hover{
    opacity: 1;
}

.container{
    display: flex;
    flex-direction: column;
}

.top{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.top_content{
}

.text-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-left: 3rem;
}

.text-content h3{
    font-size: 1.8rem;
    margin: 0;
}

.text-content p{
    font-style: 1.4rem;
    margin: 2rem;
    line-height: 2rem;
}


.logo{
    top: 0;
    left: 0;
    width: 100px;
    border-radius: 50%;
}

.top_sub-content{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
}

nav{
    flex-basis: 10%;
    background-color: #265CB6;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

li{
    list-style: none;
}

li a{
    font-size: 1.6rem;
    text-decoration: none;
    padding: 0 8px;
    color: #fff;
    opacity: .7;
}

li a:hover{
    opacity: 1;
}

.img_subnav{
    max-width: 100%;
}

/* fotter  */
footer{
    display: flex;
    background-color: #265CB6;
}

.logo_sub{
    width: 100px;
    border-radius: 50%;
    color: #fff;
    background-color: #fff;
}

.footer_content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-left: 5rem;
}

.footer_content h2{
    margin: 0;
}

.footer_form{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    padding: 1rem;
    border: none;
    border-radius: 2px;
}